#main-div {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

#navi-bar {
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 90%;
}

#navi-head {

}

#navi-bar-item {

}

/* ---------------------DATA CSS------------------------------------ */
.dataframe {
    overflow: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.dataframe thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.dataframe th,
.dataframe td {
    padding: 12px 15px;
}
.dataframe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dataframe tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.dataframe tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#table-div-data {
    overflow-y: auto;
    height: 20rem;
}