{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="Eyvi3-cU6d7-dyC8htLdhNmE7ZLrztz5xHp206IIWbY" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}"></script>  
    <link rel="icon"href="{% static 'favicon.png' %}">
    <title>Free Document Viewer - CSV, XLSX</title>
    <meta name="description" content="Looking for an online document viewer for your files, no need to install any software just use our web app to view csv and excel files easily.">
    <meta name="keywords" content="online document viewer,web document viewer,multiple file format viewer,django document viewer control,document viewer software for csv,csv viewer">
</head>
<body>
    <div id="main-div">
        <div class="navi-bar">
            <h1 id="navi-head">Free Document Viewer</h1>
            <div class="navi-bar-item">
                <form action="/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="button-21" style="color: chartreuse;" type="file" name="file" id="file" enctype="multipart/form-data" accept=".csv,.xlsx,.xls">
                    <input class="button-21" type="submit" value="UPLOAD">
                </form>
            </div>
        </div>
        
        <div id="dataframe" style="display: none;">{{data}}</div>
        <div id="table-div-data"></div>

    </div>
    <!-- <a href="https://www.flaticon.com/free-icons/document" title="document icons">Document icons created by Stockio - Flaticon</a> -->
</body>
</html>